body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #fe4fec, #00f2fe);
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
}

input {
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: calc(100% - 24px);
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #7f69ef;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #e36b99;
}

#weatherInfo {
  margin-top: 20px;
  font-size: 18px;
}
